html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Verdana;
}

.chart {
}

.bars {
  display: flex;
  width: 100%;
}

.bar {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.list {
  columns: 15em;
  list-style-type: none;
  margin: 2em 0;
  padding: 0;
  border: 0;
}

.repo__name {
  /* font-weight: bold; */
  /* font-size: 1.2em; */
}

.repo__count {
  /* font-size: 1.1em; */
  color: #aaa;
}

.repo {
  margin: 1em;
}

.repo + .repo {
  margin-top: 4em;
  border-top: 1px solid #ccc;
}
