body {
  width: 99vw;
  height: 99vh;
  margin: .5vh .5vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Consolas;
  --t-border: #ccc;
  --t-bg: #f8f8f8;
  --t-shadow: #666;
}

.control {
  display: none;
}

.title {
  flex: none;
}

.footer {
  flex: none;
}

.chart {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
}

.chart.description {
  margin-bottom: 3em;
}

.axis {
  flex: none;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--t-border);
}

.axis-item {
  position: relative;
  box-sizing: border-box;
  border-top: solid 1px var(--t-border);
  width: 100%;
  text-align: right;
  height: 25%;
  padding: 0 4px;
}

.axis-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 99vw;
  border-bottom: dashed 1px var(--t-border);
}

.plot {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border-left: solid 1px var(--t-border);
  border-bottom: solid 1px var(--t-border);
}

.period {
  display: flex;
  flex: auto;
  flex-direction: row;
  transition: background 250ms;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin: 0 .25vw;
}

.period[data-label]::after {
  content: attr(data-label);
  position: absolute;
  top: 100%;
}

.series {
  flex: auto;
  margin: 0 0.5px;
  position: relative;
  width: 0;
  height: 100%;
  transition: width 250ms;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.point {
  background-color: var(--item-color);
  max-height: 0;
  transition: max-height 250ms;
  max-width: 10vw;
  width: 100%;
  position: relative;
}

.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity:.5;
  transition: opacity 250ms;
  margin: 5px;
}

.legend-item::before {
  background-color: var(--item-color);
  display: block;
  content: '';
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.tooltip--left::after {
  z-index: 1;
  content: attr(data-label);
  background: var(--t-bg);
  box-shadow: 0 0 3px var(--t-shadow);
  padding: 3px;
  margin-right: 10px;
}

.tooltip--left::before {
  z-index: 2;
  content: '\25B8';
  color: var(--t-bg);
  font-size: 30px;
  width: 16px;
  line-height: 30px;
  clip-path: inset(0 0 0 5px);
  text-shadow: 2px 0 3px #999;
}

.tooltip--bottom::after {
  z-index: 1;
  content: attr(data-label);
  background: var(--t-bg);
  box-shadow: 0 0 3px var(--t-shadow);
  padding: 3px;
  margin-top: 10px;
  white-space: nowrap;
}

.tooltip--bottom::before {
  z-index: 2;
  content: '\25B4';
  color: var(--t-bg);
  font-size: 30px;
  height: 11px;
  line-height: 10px;
  clip-path: inset(0 0 0 0);
  text-shadow: 0 -2px 3px #999;
}

.tooltip--bottom::after,
.tooltip--bottom::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip--left::after,
.tooltip--left::before {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--bottom::after,
.tooltip--bottom::before,
.tooltip--left::after,
.tooltip--left::before {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms;
}

.tooltip--bottom:hover::after,
.tooltip--bottom:hover::before,
.tooltip--left:hover::after,
.tooltip--left:hover::before {
  opacity: 1;
}


.desc--bottom::after {
  content: attr(data-label);
  position: absolute;
  top: 100%;
}
