html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Verdana;
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.legend {
  position: absolute;
  top: 1em;
  left: 1em;
}

.legend > div {
  margin-bottom: .5vw;
}
