html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Verdana;
}

.histogram-chart {
}


.histogram-char__groups {
  width: calc(100% - 2em);
  height: 30em;
  position: relative;
  display: flex;
  justify-content: space-around;

}
