.legend {

}

.legend__types {
  margin-bottom: .5em;
}

.legend-item,
.legend-items {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.legend-item__box {
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
}

.legend-item__label {}
