.distribution-serie {
  margin-bottom: 2em;
}

.distribution-serie__header {
  flex: none;
  display: flex;
  align-items: center;
}

.distribution-serie__color {
  height: 1em;
  width: 1em;
  margin: .5em;
  flex: none;
  border: solid 1px #ccc;
}

.distribution-serie__count {
  margin-left: auto;
  margin-right: .5em;
}

.distribution-bar-items {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 .5em;
}

.distribution-bar__item {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 1px 0;
}
