body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Consolas;
}

.title {
  flex: none;
}

.footer {
  flex: none;
}

.chart {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
}

.axis {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.plot {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: none;
}

.period {
  display: flex;
  flex: auto;
  flex-direction: row;
  transition: background 250ms;
  align-items: flex-end;
  position: relative;
}

.series {
  flex: auto;
}

.point {
  background-color: var(--item-color);
}

.legend::before {
  display: flex;
  content: attr(data-label);
}

.legend-items {
  display: flex;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* opacity:.5; */
  /* transition: opacity 250ms; */
  margin: 5px;
}

.legend-item::before {
  background-color: var(--item-color);
  display: block;
  content: '';
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.point:nth-child(6n+1),
.legend-item:nth-child(6n+1) {
  --item-color: #f99;
}

.point:nth-child(6n+2),
.legend-item:nth-child(6n+2) {
  --item-color: #9f9;
}

.point:nth-child(6n+3),
.legend-item:nth-child(6n+3) {
  --item-color: #99f;
}

.point:nth-child(6n+4),
.legend-item:nth-child(6n+4) {
  --item-color: #ff9;
}

.point:nth-child(6n+5),
.legend-item:nth-child(6n+5) {
  --item-color: #f9f;
}

.point:nth-child(6n+6),
.legend-item:nth-child(6n+6) {
  --item-color: #9ff;
}


/*
export const colors = [
  '#999',
  '#9ff',
  '#99f',
  '#f9f',
  '#f99',
  '#ff9',
  '#9f9',
  '#fff'
];

// const AVAILABLE_COLORS = [
//   '#f00', '#0f0', '#00f', '#ff0', '#f0f', '#0ff',
//   '#f99', '#9f9', '#99f', '#ff9', '#f9f', '#9ff'
// ];
*/
