body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Consolas;
}

.chart {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: auto;
  border: solid 1px #f1f1f1;
  box-sizing: border-box;
}

.legend {
  flex: none;
  width: 100%;
  display: flex;
}

.legend > .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity:.5;
  transition: opacity 250ms;
}

.legend > .item::before {
  display: block;
  content: '';
  height: 1vw;
  width: 1vw;
  margin: .5vw;
}

.date {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  /* margin: 0 0.5vw; */
  box-sizing: border-box;
  padding: 0 0.5vw;
  transition: background 250ms;
}

.date:hover {
  background: #f1f1f1;
}

.header {
  text-align: center;
}

.values {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: auto;
  align-items: flex-end;
}

.value {
  position: relative;
  flex: auto;
  width: 0;
  overflow: hidden;
  transition: width 250ms;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* writing-mode: vertical-rl; */
  white-space: nowrap;
}


/* TODO This should be generated */
.legend > .item:nth-child(1)::before,
.value:nth-child(1) {
  background-color: #f00;
}

.legend > .item:nth-child(2)::before,
.value:nth-child(2) {
  background-color: #0f0;
}

.legend > .item:nth-child(3)::before,
.value:nth-child(3) {
  background-color: #00f;
}

.legend > .item:nth-child(4)::before,
.value:nth-child(4) {
  background-color: #ff0;
}
